<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.cnlinfo.ccf">

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许读取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许读取wifi网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许应用以只读的方式访问手机设备的信息，通过获取的信息来唯一标识用户 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 获取当前应用是否在显示应用，可以更精准的统计用户活跃 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 获取振动通知 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 二维码权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- lite-orn权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-feature android:name="android.hardware.sensor.accelerometer" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <uses-feature
        android:name="android.hardware.sensor.stepcounter"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.stepdetector"
        android:required="true" />

    <application
        android:name=".CCFApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ccf"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/FullScreen">
        <activity
            android:name=".activity.MainPageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PopupMenuTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- ********************************************TALKING DATA********************************************************** -->


        <!-- TalkingData -->
        <meta-data
            android:name="TD_APP_ID"
            android:value="5349CA59AD0142739106215E4ED1679D" />
        <meta-data
            android:name="TD_CHANNEL_ID"
            android:value="${TD_CHANNEL_ID_VALUE}" />

        <!-- 用户注册见面 -->
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 登录注册展示界面 -->
        <activity
            android:name=".activity.LoginRegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 忘记密码页面 -->
        <activity
            android:name=".activity.ForgetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/spinner_theme"
            android:windowSoftInputMode="adjustPan" />
        <!-- 引导页 -->
        <activity
            android:name=".activity.GuideActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.WebActivity">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.BuildQRCodeActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".step_count.service.StepService"
            android:priority="1000">
            <intent-filter>

                <!-- 系统启动完成后会调用 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_TIME_TICK" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </service>
        <service
            android:name=".step_count.pedometer.StepsDetectService"
            android:priority="1000"
            android:process="cn.cnlinfo.ccf.step_count.pedometer.StepsDetectService">
            <intent-filter>

                <!-- 系统启动完成后会调用 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_TIME_TICK" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </service>
        <!-- 注册会员 -->
        <activity
            android:name=".activity.RegisterMemberActivity"
            android:screenOrientation="portrait"
            android:theme="@style/spinner_theme"
            android:windowSoftInputMode="adjustPan" />
        <!-- 贡献图谱 -->
        <activity
            android:name=".activity.ContributionMapActivity"
            android:screenOrientation="portrait" />
        <!--推荐网络-->
        <activity android:name=".activity.RecommendNetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NormalFullScreen"/>
        <!-- 我的参数 -->
        <activity
            android:name=".activity.MyParameterActivity"
            android:screenOrientation="portrait" />
        <!-- 平台参数 -->
        <activity
            android:name=".activity.PlatformParameterActivity"
            android:screenOrientation="portrait" />
        <!-- 跑步排名 -->
        <activity
            android:name=".activity.RunningRankActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>