<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.cnlinfo.ccf">

    <application
        android:name=".CCFApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ccf"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/FullScreen">
        <activity android:name=".activity.LoginRegisterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--用户注册见面-->
        <activity android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait"/>
       <!--主页展示界面-->
        <activity android:name=".activity.MainPageActivity"
            android:screenOrientation="portrait"
            />

    </application>
</manifest>